/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 6, 2019, 2:34:01 PM
    Author     : Diogo Leite
*/


body{
    background-color: #9ad1f4;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container{
    width: 500px;
    margin: 100px auto;
    background-color: white;
    padding: 50px;
    padding-left: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid d6dfe1;
}

.cadastro{
    text-decoration: none;
    font-size: 12px;
}


